<!DOCTYPE html>
<html>

<head>
  <title>haralampi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="/main.dart.js"></script>
  <link rel="stylesheet" href="/main.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
</head>

<body>
  <header>
    <p wedit="chapeau">-- chapeau --</p>
    <h1 wedit="header">-- header --</h1>
  </header>
  <div class="container">
    <div class="main">
      <div class="content" wedit-repeat="main">
        <div wedit="content">-- content --</div>
      </div>
    </div>
    <div class="side">
      <div class="content" wedit-repeat="!side">
          <div wedit="!content">-- content --</div>
      </div>
    </div>
  </div>
  <footer>
      <a href="https://www.sofmon.com/">
        <img alt="sofmon.com" src="/sofmon.svg" width="200px">
      </a>
  </footer>
</body>

</html>